<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script defer src="./js/script.js"></script>
        <title>NEXTGEN Defense</title>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;400&display=swap');
            input {
                border: 1;
                padding: 1px;
                font-size: 15px;
                border-color: grey;
            }
            input[type="submit"] {
                background: black;
                color: white;
                border-color: cornsilk;
            }
            body {
                background-color: #363334;
                font-family: 'Barlow Semi Condensed', sans-serif;
                color: blanchedalmond;
            }
            a:link{
                color:white;
            }
            a:visited{
                color: white;
            }
            a:hover{
                color:white;
            }
            a:focus{
                color:white;
            }
            a:active{
                color:white;
            }
        </style>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&display=swap" rel="stylesheet">
        <title>PBP index</title>
    </head>
    <body>
        <h1>Your Property</h1>
        <h2>Hello there, <%= username %></h2>
        <nav><a href="/property/new">Add Assets to your Property Book</a></nav>
        <ul>
            <% for(let i = 0; i < property.length; i++){ %>
                <li>
                    The <a href="/property/<%=property[i].id; %>"><%=property[i].name; %></a> is at
                    <% property[i].location %>, POC: <% property[i].subhandreceiptholder %>
                    <a href="/propertys/<%=property[i].id; %>/edit">Edit</a>
                    <form action="/property/<%=property[i].id; %>?_method=DELETE" method="POST">
                        <input type="submit" value="DELETE"/>
                    </form>
                </li>
            <% } %>
        </ul>
    </body>
</html>